body {
    background-color: #034748;
    font-size: 30px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color:rgb(245, 245, 245);
    font-size: 20px;
   
   }
   
   a:hover {
    color: rgb(51, 240, 13);
    